label{
	font-weight: 700;
	line-height: 1.5;
	font-size: 14px;
}

#topBarContainer{
	padding-top: 15px;
}

.loaderDiv {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: white;
	background: rgba(255,255,255,0.8);
}

.loaderImg {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -199px;
	left: 0;
	right: 0;
	max-width: 100%;
} 

.innerDiv {
	border: 1px solid #ccc!important;
	padding: 10px;
	border-radius: 16px;
	margin-bottom: 20px;
	margin-right: 1.5%;
	/* margin-left: 1.5%; */
}

.outerContainer{
	border: 1px solid #ccc!important;
	border-radius: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 1.5%;
	padding-left: 1.5%;
	margin-bottom: 20px;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
}

.btnRefresh, .btnRefresh:focus, .btnRefresh:active {
	height: 40px!important;
	padding: 2px!important;
}

.btn_blue, .btn_blue:focus {
	background-color: #006699!important;
	color: #FFF!important;
	border: 1px solid #006699!important;
	font-size: 12px!important;
	border-radius: 11px;
	width: 100%;
	padding: 10px 10px;
	font-size: 12px!important;
	font-weight: bold;
	text-transform: uppercase;
	height: 37px;
	color: #FFFFFF;
	box-shadow: 0px 0px 5px #888888;
	line-height: 16px;
}

.btn_blue:hover {
	background-color: #FFFFFF!important;
	color: #006699!important;
}

.divButtonContainer {
	margin-bottom: 15px;
}

.controlsLogArea {
	resize: none;
	outline: none;
	width: 100%;
	height: 100%!important;
	box-sizing: border-box;
	height: calc(100% - 26px)!important;

}
.controlsLogArea:focus {
	border-color: #ced4da!important; 
	box-shadow: none!important;
}

.controlsLogContainer {
	height: 218px;
}

.statusPill {
	padding: 6px;
}
.statusPillSmall {
	padding-left: 10px;
	padding-right: 10px;
}

.recieve_statusPillNewData{
	display: none;
}